.cart {
    max-width: 1220px;
    margin: 0 auto;
    margin-top: 200px;
    align-items: center;
    justify-content: center;

}

.cart-title {
    margin-bottom: 20px;
    text-align: center;
}

.emptyCart{
    margin-top: 20px;
    justify-content: center;
    align-items: center;    
    text-align: center;
}

.fullCart{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-total{
    width: 100%;
    margin-top: 50px;
    padding: 30px 25px;
    position: relative;
}

.cart-info{
    margin-top: 10px;
}

.cartItems {
    width: 100%;
}

.cart-subtotal{
    display: flex;
    justify-content: space-between;
}

.cart-table td{
    text-align: left;
    align-items: left;
}

.cart-buttons{
    margin-top: 20px;
    width: 100%;
}
.cart-buttons .btn {
    width: 100%;
}