.product-div{
    
    max-width: 1220px;
    margin: 0 auto;
    margin-top: 20vh;
}

.product-grid {
    justify-content: center;
}

.product-filter {
    display: flex;
    justify-content: center;
}

.filter-dropdown {
    width: 50%;
   margin: 20px;
}

.search-bar {
    display: flex;
    width: 50%;
    margin: 20px;
}

.product-card {
    width: 75%;
    margin: 50px;
}