.product-page {
    margin-top: 150px;
    justify-content: center;
    align-items: center;
    display:grid;
}

.product-info {
    justify-content: center;

    
}

.product-details {
    padding-left: 35px;
    align-items: right;
    text-align: right;
}