.newuser-form {
    max-width: 1220px;
    margin: 0 auto;
}

form {
    display: block;
    margin: 1rem
}

.order-info {
    margin: 20px;
}

.shipping-info {
    margin-top: 50px;
}

.form-footer {
    display: flex;
    margin-top: 1.5rem;
    position: relative;
    justify-content: space-between;
}

.form-footer .btn {
    padding: 1.4rem 1.7rem;
    background-color: rgb(116, 131, 227);
}

table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 1em;
}

tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
td, th {
    padding-left: 1rem;
}

.newuser-table td{
    padding-left: 1.5em;
    text-align: right;
    white-space: nowrap;
}


th{
    padding-top: 1rem;
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
}